@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    background-color: #050505;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide default scrollbars */
    font-family: 'Rajdhani', sans-serif;
}

/* Custom Scrollbar for the HTML overlay if needed, though we rely on virtual scroll */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.font-cyber {
    font-family: 'Orbitron', sans-serif;
}

.neon-text-cyan {
    text-shadow: 0 0 5px #00f3ff, 0 0 10px #00f3ff, 0 0 20px #00f3ff;
}

.neon-text-pink {
    text-shadow: 0 0 5px #ff00aa, 0 0 10px #ff00aa, 0 0 20px #ff00aa;
}

.glass-panel {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}